.cart {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: .5rem;
    margin: .5rem;
    filter: invert(50%);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.cart:hover {
    filter: invert(100%);
}
.cart:active {
    filter: invert(100%);
}

.icon-cart {
    width: 24px;
    height: 24px;
}

figcaption {
    font-size: .875rem;
    color: #faebd7;
    font-weight: 600;
}

.cart-contains {
    display: none;
}

.title-order {
    font-size: 1.2rem;
    margin-bottom: .4rem;
}

.order-item,
.totals,
.title-order {
    text-align: left;
    list-style-type: none;
}

.order-container {
    border: 2px solid grey;
    border-radius: 1rem;
    margin-bottom: 1rem;
}
