.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #fbfbfb;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 60px;
    z-index: 1;
}
.identity-ecommerce {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-left: 2rem;
}
.identity{
    display: flex;
    flex-direction: column;
    gap: 0;
}
.brand {
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
    color: #d9a535;
    text-decoration: none;
    text-align: start;
}
.catchphrase{
    margin: 0;
    max-width: 350px;
    width: 350px;
    font-size: 1rem;
    font-weight: 400;
    color: #d9a535;
    text-align: start;
    /* margin-top: 0.5rem; */
}