.show-cart-container{
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    margin: 20px;
    background-color: white;
}
.cart-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
}
ul{
    width:65%;
    margin: 20px;
}
.cart-item{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    list-style: none;
    border-width: 0 2px 2px 0;
    border-style: groove;
    border-color: rgba(255, 255, 255, 0.653);
}
.cart-item:last-child{
    border-width: 0 2px 0 0;
}
.container-img{
    width: 180px;
    height: auto;
    border: 1px solid rgb(234, 234, 234);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.image{
    width: 100px;
    object-fit: cover;
}
.cart-decscription{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    gap: 20px;
}
.cart-decscription h3{
    margin: 0;
}
.cart-decscription span{
    font-size: small;
    font-weight: 400;
}
.btn-description{
    display: flex;
    gap: 20px;
}
.btn-quantity{
    display: flex;
    gap: 20px;
    border: 3px solid rgb(238, 168, 36);
    border-radius: 8em;
}
.btn-description button{
    color: black;
    font-weight: 900;
    font-size: larger;
    padding: 0;
    margin: 7px;
    border: none;
    box-shadow: none;
    background-color: rgb(255, 255, 255);
}
.btn-description button:hover{
    background-color: rgb(255, 255, 255);
}
input[type=number] {
    width: 20px;
    padding: auto;
    text-align: center;
    border-width:0px 1px ;
    border-radius: 0;
}
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.display-price{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.display-price span:last-child{
    font-weight: 700;
}
.container-total{
    width: 20%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.total-display{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.total-display h3{
    margin-bottom: 0;
}
.total-display span:nth-last-of-type(1){
    font-weight: 700;
    font-size: 1.2em;
}
.btn-total{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.btn-total button{
    border-width: 0;
    background-color: rgb(46, 46, 46);
}
